---
import BaseLayout from '@/layouts/BaseLayout.astro';

const title = "Error 404";
const description = "Not found"
---

<BaseLayout title={title} description={description}>
    <main>
        <h1>Error 404: Not Found</h1>

        <p>These are not the pages your looking for.</p>
    </main>
</BaseLayout>