---
import Layout from '../layouts/default.astro';
---

<Layout title="About">
    <main>
        <img src="/img/placeholder-about.jpg" class="mt-3" width="600" height="337.6" alt="Anonymous person">
        
        <h1>About me</h1>

        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maxime animi dolor corrupti quo nisi sed inventore iure natus dignissimos!</span><span>Ducimus vero quidem sit, corrupti accusamus facere temporibus quam voluptatum cumque, quasi vel eius nobis, quae incidunt exercitationem sapiente deserunt.</span><span>Illo perferendis quisquam numquam laborum error. Cupiditate aut et minima, doloribus, iure, nesciunt maiores at itaque cum sed numquam suscipit!</span></p>
    </main>
</Layout>