---
import { SITE_TITLE } from '../config';
---

<footer class="flex justify-between py-2 mt-5">
    <p class="m-0">&copy; 2022 - {SITE_TITLE}</p>

    <p class="m-0"><a href="https://github.com/dutchwebworks/astro-learning" target="_blank">View on Github</a></p>
</footer>

<style>
footer {    
    border-top: 1px solid #333;
}

footer a {
    color: #333;
}

footer a:hover {
    color: hotpink;
}
</style>