---
import { SITE_TITLE } from '../consts';
---

<footer class="flex justify-between py-2 mt-5">
    <p class="m-0">&copy; 2023 - {SITE_TITLE}</p>

    <p class="m-0"><a href="https://github.com/dutchwebworks/astro-learning" target="_blank">View on Github</a></p>
</footer>

<style>
footer {
    font-size: .8rem;
    border-top: 1px solid var(--body-text-color);
    transition: border-top-color .5s;
}

footer p {
    font-size: inherit;
}

footer a {
    color: var(--body-text-color);
    transition: color .5s;
}

footer a:hover {
    color: var(--secondary-brand-color);
}
</style>