---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header>
    <nav>
        <menu>
            <li><a href="/" class={currentPath === "" ? "is-active" : ""}>Home</a></li>
            <li><a href="/blog" class={currentPath.startsWith('blog') ? "is-active" : ""}>Blog</a></li>
            <li><a href="/about" class={currentPath.startsWith('about') ? "is-active" : ""}>About</a></li>
        </menu>
    </nav>
</header>

<style>
header {
    margin: 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--body-color-alt);
}
header menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
header li {
    margin: 0;
    padding: 0;
}
header li + li {
    margin-left: 10px;
}

header a {
    color: var(--secondary-brand);
}

header a.is-active,
header a:hover {
    color: var(--primary-brand);
}
</style>