<header>
    <nav>
        <menu>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
        </menu>
    </nav>
</header>

<style>
header menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
header li {
    padding: 0;
    margin: 0;
}
header li + li {
    margin-left: 10px;
}
</style>