<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>

<style>
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
header nav ul li {
    padding: 0;
    margin: 0;
}
header nav ul li + li {
    margin-left: 10px;
}
</style>